/* Global styles
------------------------------------*/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

figure {
	margin: 0;
	padding: 0;
}

p, h3 {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}

/* Header
-------------------------*/

.header {
	padding: 15px 50px;
	background-color: rgb(247, 232, 232);
}

.header-logo {
	float: left;
	background: transparent;
}

.navbar {
	float: right;
    margin-top: 35px;
}

.navbar-list {
	padding: 0;
    margin: 0;
    display: block;
}

.navbar-item {
	float: left;
	display: block;
	margin-right: 20px;
}

.navbar-item:last-child {
	margin-right: 0;
}

.navbar-item a {
	color: #000000;
    text-transform: uppercase;
    font-size: 18px;
}

.navbar-item a:hover {
	color: rgb(37, 184, 23);
}

.clearfix:after {
    content: '';
    display: table;
    clear: both; 
}

/* MAIN
-------------------------*/
/* Article
-------------------------*/
.container {
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.main-article {
	flex-basis: 70%;
	padding: 10px;
	line-height: 1.3;	
}

h1 {
	font-family: 'PT Serif', serif;
	font-size: 30px;
}

.article-list {
	line-height: 1.6;
}

.article-author::before,
.article-author::after {
	content: '';
	display: block;
	border-bottom: 1px solid grey;
	margin: 5px 0;
}

.article-author a:hover {
	text-decoration: underline;
}

.article-figure {
	margin: 10px 0;
	font-style: italic;
	font-weight: bold;
	display: flex;
    flex-direction: column;
    align-items: center;
}

/* Aside
-------------------------*/
.aside {
	max-width: 30%;
	margin: 15px 0;
	padding: 10px;
	padding-top: 40px;
	border-left: 2px solid rgba(255, 0, 0, 0.425);
}

.aside h3 {
	font-family: 'PT Serif', serif;
	margin-bottom: 15px;
	text-transform: uppercase;
	text-align: center;
}
.aside-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	color: black;
}

.aside-link p {
	margin-right: 5px;
	font-size: 14px;
}

.aside-link:hover {
	text-decoration: underline;
}

.aside-link img {
	width: 90px;
}
/* Footer
-------------------------*/
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: wheat;
	line-height: 1.5;
	min-height: 100px;
	padding: 0 30px;
}

.footer-info {
	max-width: 35%;
}

.footer-address {
	max-width: 60%;
}

@media (max-width: 992px) {
	.container {
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	.container {
		flex-wrap: wrap;
	}

	.main-article {
		flex-basis: unset;
	}

	.aside {
		max-width: unset;
	}

	.footer-address {
		padding-right: 20px;
	}
}

@media (max-width: 576px) {
	.footer {
		font-size: 14px;
		padding: 10px;
	}
}